<!-- headerr -->
<%- include('include/_header') %>

<!-- main portion  -->
<div class="middle">
    <a href="/add-user"><i class="material-icons">person_add</i> </a>

    <table class = "table">
        <tr class="row">
            <th>NAME</th>
            <th>COURSE</th>
            <th>PAYMENT STATUS</th>
            <th>ACTION</th>
        </tr>
        <%- include('include/_show') %>
    </table>
</div>


<!-- footer -->
<%- include('include/_footer') %>