<div class="back">
    <a href="/"><i class="material-icons">arrow_back</i> </a>
</div>

<form action="/api/users" method="POST" id="add_user">
    <div class="newuser">

        <div class="formgroup">
            <label for="name" class="label">Name:</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="">
        </div>

        <div class="formgroup">
            <label for="courses" class="label">courses:</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="courses" value="" placeholder="">
        </div>

        <div class="formgroup">
            <label for="payment" class="label">Payment Mode:</label>

            <div class="radioinline">
                <input type="radio" id="radio-2" name="payment" value="paid" >
                <label for="radio-2" class="radio-label">Paid</label>
            </div>

            <div class="radioinline">
                <input type="radio" id="radio-3" name="payment" value="Not-paid" >
                <label for="radio-3" class="radio-label">Not Paid</label>
            </div>
        </div>

        <!-- <div class="formgroup">
            <label for="Date of Transaction" class="label">Date of Transaction:</label>
            <input type="date" name="date" value="" placeholder="">
        </div> -->

        <div class="formgroup">
            <button type="submit" class="btn">Save</button>
        </div>

    </div>
</form>